/*------------------- Font ----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*------------------ Color ----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.card {
  border-radius: 20px;
  box-shadow: 4px 17px 26px -1px rgba(0, 0, 0, 0.27);
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: 850px;
  background-repeat: no-repeat;
  background-position-x: -485px;
  background-position-y: -236px;
}

@media (max-width: 767.98px) {
  .card {
    background-image: url("../images/bg-pattern-mobile.svg");
    background-size: 225px;
    background-position: top center;
  }
}

.card .card-body {
  padding: 4.5rem 1rem;
}

.card .card-body .title {
  font-size: 2rem;
  color: #1d1e35;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media (max-width: 767.98px) {
  .card .card-body .title {
    text-align: center;
    padding-top: 50px;
  }
}

.accordion-flush .accordion-item {
  border-color: #e7e7e9;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid #e7e7e9;
}

.accordion-flush .accordion-item .accordion-button {
  color: #4a4b5e;
  font-size: 0.85rem;
  padding: 0.8rem 0;
}

.accordion-flush .accordion-item .accordion-button:hover {
  color: #f47c57;
}

.accordion-flush .accordion-item .accordion-button:focus {
  box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: transparent !important;
  font-weight: 700;
}

.accordion-flush .accordion-item .accordion-button:not(.collapsed):after {
  transform: translateY(-3px) rotate(180deg);
}

.accordion-flush .accordion-item .accordion-button:after {
  position: relative;
  right: 15px;
  background-image: url("../images/icon-arrow-down.svg");
  height: 10px;
  width: 10px;
  background-size: 10px;
}

@media (max-width: 767.98px) {
  .accordion-flush .accordion-item .accordion-button:after {
    right: 0;
  }
}

.accordion-flush .accordion-item .accordion-body {
  padding: 0 0 0.75rem;
  color: #787887;
  font-size: 0.75rem;
}

.image-wrapper {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .image-wrapper {
    height: 400px;
  }
}

.image-wrapper .woman-image {
  position: absolute;
}

@media (min-width: 768px) {
  .image-wrapper .woman-image {
    left: -120px;
    top: -20px;
    clip-path: inset(0% 0% 0% 103px);
  }
}

@media (max-width: 767.98px) {
  .image-wrapper .woman-image {
    top: -83px;
    left: 46%;
    transform: translate(-50%, -50%);
  }
}

.image-wrapper .box-icon {
  position: absolute;
  left: -135px;
  bottom: 95px;
}

@media (max-width: 767.98px) {
  .image-wrapper .box-icon {
    display: none;
  }
}

/*------------------- Font ----------------------*/
/*------------------ Color ----------------------*/
.card-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .card-wrapper {
    padding: 0 15px;
    margin-top: 50px;
  }
}

.card-wrapper .card {
  width: 100%;
}

@media (min-width: 768px) {
  .card-wrapper .card {
    width: 850px;
    height: 500px;
  }
}

/*------------------- Font ----------------------*/
/*------------------ Color ----------------------*/
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: #4a4b5e;
  background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution {
  color: #1d1e35;
  text-align: center;
}

.attribution a {
  color: #e7e7e9;
}
/*# sourceMappingURL=style.css.map */