@import '../base/base';
@import '../base/breakpoints';

.card-wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	@include media-breakpoint-down(md) { 
		padding: 0 15px;
		margin-top: 50px;
	}

	.card {
		width: 100%;

		@include media-breakpoint-up(md) {
			width: 820px;
			height: 450px;
		}
	}
}